SERVER_PORT=8080
SERVER_READ_TIMEOUT_SEC=15
SERVER_WRITE_TIMEOUT_SEC=15
SERVER_SHUTDOWN_TIMEOUT_SEC=10

OAUTH_URL=https://testoauth.expressauth.net/v2
OAUTH_TOKEN_PATH=/token
OAUTH_CLIENT_ID=<oauth-client-id>
OAUTH_CLIENT_SECRET=<oauth-client-secret>
OAUTH_USER_TOKEN=<oauth-user-token>

PUBLIC_API_URL=https://testapi.taxbandits.com/v2.0.0

AWS_ACCESS_KEY=<aws-access-key>
AWS_SECRET_KEY=<aws-secret-key>
BUCKET_NAME=<s3-bucket-name>
BASE_64_KEY=<base64-encryption-key>
